{% extends "base.html" %}

{% block title %}New Post{% endblock %}

{% block content %}
<h1>Add Post for {{ user.full_name }}</h1>
<form method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">content</label>
        <textarea name="content" id="content" rows="5" class="form-control" placeholder="Add Post" required></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Add Post</button>
</form>
<a href="/user/{{ user.id }}" class="btn btn-secondary">Cancel</a>
{% endblock %}